:root {
    --clr-yellow: #FFD60A;
    --clr-blue: #181C2C;
    --clr-dark-blue: #0F111A;
    --clr-light-blue: #394266;
    --clr-white: #FFFCF9;
    --clr-orange: #FF620A;
    --max-width: 500px;
    --ff-primary: 'Lexend', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.u-noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    -webkit-touch-callout: none; /* iOS Safari */
    -khtml-user-select: none; /* Konqueror HTML */
}

h1,
h2,
h3,
p {
    font-family: var(--ff-primary);

    color: var(--clr-white);
}

h1 {
    font-size: 35px;
    font-weight: 600;

    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    font-weight: 600;

    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 100vw;
    min-height: 100vh;

    background: var(--clr-blue);
}

.material-icons {
    cursor: default;

    color: var(--clr-white);
}

/* Page Header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 7%;

    background: var(--clr-yellow);
}

.header .header__logo {
    width: 100%;
    max-width: var(--max-width);

    text-align: center;
}

.header .header__logo img {
    width: 25%;
}

/* Footer Navigation */

.footerNav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 7%;

    background: var(--clr-dark-blue);
}

.footerNav nav {
    width: 100%;
    max-width: var(--max-width);
}

.footerNav nav ul {
    display: flex;
    justify-content: space-around;

    width: 100%;

    list-style: none;
}

.footerNav nav ul li {
    display: inline;
}

.footerNav nav ul li .material-icons {
    font-size: 28px;

    cursor: pointer;
}

.footerNav nav ul li .material-icons:hover {
    color: var(--clr-yellow);
}

.footerNav nav ul li .material-icons.u-active {
    color: var(--clr-yellow);
}

/* Content Top Section */

.content {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: var(--max-width);
    height: 93%;
}

.contentTop {
    width: 80%;
    margin-top: 50px;
    padding-bottom: 25px;

    border-bottom: 2px solid var(--clr-light-blue);
}

.contentTop header,
.contentTop header a {
    display: flex;
    align-items: center;
}

.contentTop header h1 {
    margin-left: 10px;
}

.contentTop header .material-icons {
    font-size: 35px;
}

/* Homepage --------- */

/* Out Of Home Card */

.outOfHomeCard {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;
    margin-top: 25px;

    border-radius: 10px;
    background: var(--clr-dark-blue);

    gap: 35%;
}

.outOfHomeCard__label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outOfHomeCard__label p {
    font-family: var(--ff-primary);
    font-size: 18px;
    font-weight: 400;

    margin-left: 15px;
}

.outOfHomeCard__label p {
    font-size: 20px;
}

.outOfHomeCard__toggleBtn .material-icons {
    font-size: 55px;

    transition: 0.2s all ease;
}

.outOfHomeCard:hover {
    cursor: pointer;
}

.outOfHomeCard:hover .outOfHomeCard__toggleBtn .material-icons {
    color: var(--clr-yellow);
}

/* Curtain list */

.curtainList {
    display: grid;

    width: 80%;
    margin-top: 25px;

    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.curtainCard__wrapper,
.curtainList__add {
    width: 100%;

    border-radius: 10px;
}

.curtainCard__wrapper:after,
.curtainList__add:after {
    display: block;

    padding-bottom: 100%;

    content: "";
}

.curtainCard__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    transition: 0.2s all ease;

    background: var(--clr-light-blue);
    background-position: center;
    background-size: 250%;
}

.curtainCard__wrapper:hover {
    transform: scale(1.05);
}

.curtainCard {
    padding: 15px;
}

.curtainList__add {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-dark-blue);
}

.curtainList__add .material-icons {
    font-size: 60px;

    transition: 0.2s all ease;

    color: var(--clr-white);
}

.curtainList__add:hover {
    cursor: pointer;
}

.curtainList__add:hover .material-icons {
    transform: scale(1.1);

    color: var(--clr-yellow);
}

/* Curtain Details Pagina --------- */

/* Header */

.detailsHeader .material-icons {
    transition: 0.2s all;
}

.detailsHeader .material-icons:hover {
    cursor: pointer;
    transform: scale(1.1);

    color: var(--clr-yellow);
}

/* Open close slider */

.openCloseSlider__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 80px;
    margin-top: 25px;

    border-radius: 10px;
    background: var(--clr-dark-blue);
}

.openCloseSlider__container p {
    font-weight: 400;
}

.openCloseSlider {
    display: flex;
    align-items: center;

    width: 60%;
}

.openCloseSlider__slider {
    width: 100%;
    height: 2px;

    outline: none;
    background: none;
    background-color: white;

    -webkit-appearance: none;
}

.openCloseSlider__slider::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    transition: .2s all;

    border-radius: 100%;
    background: var(--clr-white);

    -webkit-appearance: none;
    appearance: none;
}

.openCloseSlider__slider::-webkit-slider-thumb:hover {
    width: 1.6rem;
    height: 1.6rem;
}

.openCloseSlider__slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;

    border-radius: 100%;
    background: var(--clr-white);
}

/* Timers List */

.timerList {
    display: grid;

    width: 80%;
    margin-top: 25px;
    margin-bottom: 8px;

    grid-template-columns: 1fr;
    gap: 5%;
}

.timerCard__wrapper,
.timerList__addTimerBtn {
    width: 100%;

    border-radius: 10px;
}

.timerCard__wrapper {
    height: 8.5rem;

    background: var(--clr-dark-blue);
}

.timerCard {
    position: relative;

    margin: 1rem;
}

.timerCard__openToClose-open {
    left: -1.1rem;
}

.timerCard__openToClose-close {
    right: -1.1rem;
}

.timerCard__delete {
    position: absolute;
    top: -10px;
    right: -10px;

    padding: 0.2rem;

    transition: 0.4s all;
}

.timerCard__deleteHoverText {
    font-weight: 400;
    line-height: 1rem;
    line-height: 1rem;

    position: absolute;
    top: -7px;
    right: -15px;

    padding: 0.2rem;

    cursor: pointer;
    transition: 0.2s all ease;
    transform: scale(0.75);

    opacity: 0;
    color: var(--clr-orange);
    border-radius: 5px;
}

.timerCard__p:hover .timerCard__deleteHoverText {
    right: 16px;

    transform: scale(1);

    opacity: 1;
}

.timerCard__p:hover .timerCard__delete {
    cursor: pointer;

    color: var(--clr-orange);
}

.timerCard__deleteHoverText:hover {
    opacity: 0;
}

/*
.timerCard__deleteHoverText:hover {
    opacity: 1;
    cursor: pointer;
}
*/

.timerCard__schedule {
    margin-top: 2rem;

    border-radius: 100px;
    background-color: var(--clr-light-blue);
    -webkit-box-shadow: inset 0px 0px 39px -6px rgba(0, 0, 0, 0.631);
    box-shadow: inset 0px 0px 39px -6px rgba(0, 0, 0, 0.624);
}

.timerCard__openToClose {
    display: flex;
    justify-content: space-between;

    width: 50%;
    margin-left: 20%;

    animation: openToClose 0.5s ease-out;

    border-radius: 100px;
    background-color: var(--clr-yellow);
}

@keyframes openToClose {

0% {
    width: 30%;
    margin-left: 30%;
}

100% {
    width: 50%;
    margin-left: 20%;
}

}
@keyframes openToCloseP {

0% {
    opacity: 0;
}

80% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}

.timerCard__openToClose p {
    font-size: 90%;
    line-height: 0.85rem;

    position: relative;
    top: 1.5rem;

    animation: openToCloseP 0.5s;

    opacity: 1;
    color: var(--clr-yellow);
}

.timerList__addTimerBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

    transition: 0.2s all;

    border: none;
    background: var(--clr-yellow);
}

.timerList__addTimerBtn .material-icons {
    font-size: 1.8rem;

    transition: 0.2s all ease-in-out;

    color: var(--clr-dark-blue);
}

.timerList__addTimerText {
    font-size: 1.2rem;
    font-weight: 600;

    padding-left: 10px;

    color: var(--clr-dark-blue);
}

.timerList__addTimerBtn:hover,
.timerList__addTimerBtn .material-icons:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* Remove */

.removeCurtain {
    width: 80%;
    margin-top: 25px;

    border-color: var(--clr-light-blue);
    border-top: 2px solid;
}

.removeCurtainBtn {
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3.5rem;
    margin-top: 25px;
    padding-left: 10px;

    transition: 0.2s all;

    color: var(--clr-orange);
    border: none;
    border: 2px solid;
    border-radius: 10px;
    background: #221305;
}

.removeCurtainBtn .material-icons {
    margin-right: 0.75rem;

    color: var(--clr-orange);
}

.removeCurtainBtn:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.removeCurtainBtn:hover .material-icons {
    animation: removeThisCurtainBtnAnimation 0.4s;
}

/* Keyframes --------------- */

@keyframes removeThisCurtainBtnAnimation {

0% {
    transform: scale(1) rotate( 0deg);
}

25% {
    transform: scale(1.1) rotate( 15deg);
}

50% {
    transform: scale(1.3);
}

100% {
    transform: scale(1) rotate( 0deg);
}

}
