:root {
    --clr-yellow: #FFD60A;
    --clr-blue: #181C2C;
    --clr-dark-blue: #0F111A;
    --clr-light-blue: #394266;
    --clr-white: #FFFCF9;
    --clr-orange: #FF620A;
    --max-width: 500px;
    --ff-primary: 'Lexend', sans-serif;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--clr-blue);
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--clr-light-blue);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 1px solid red; */
}

.u-noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    -webkit-touch-callout: none; /* iOS Safari */
    -khtml-user-select: none; /* Konqueror HTML */
}

h1,
h2,
h3,
p {
    font-family: var(--ff-primary);

    color: var(--clr-white);
}

h1 {
    font-size: 35px;
    font-weight: 600;

    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    font-weight: 600;

    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    max-width: 100%;

    /* height: calc(100% + 500px); */

    margin-bottom: 100px;

    background: var(--clr-blue);
}

.material-icons {
    cursor: default;

    color: var(--clr-white);
}

/* Page Header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 65px;

    background: var(--clr-yellow);
}

.header .header__logo {
    width: 100%;
    max-width: var(--max-width);

    text-align: center;
}

.header .header__logo img {
    width: 30%;
}

/* Footer Navigation */

.footerNav {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;

    text-align: center;

    color: white;
    background: var(--clr-dark-blue);
}

.footerNav nav {
    width: 100%;
    max-width: var(--max-width);
}

.footerNav nav ul {
    display: flex;
    justify-content: space-around;

    width: 100%;

    list-style: none;
}

.footerNav nav ul li {
    display: inline;
}

.footerNav nav ul li .material-icons {
    font-size: 28px;

    cursor: pointer;
}

.footerNav nav ul li .material-icons:hover {
    color: var(--clr-yellow);
}

.footerNav nav ul li .material-icons.u-active {
    color: var(--clr-yellow);
}

/* Content Top Section */

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: var(--max-width);
}

.contentTop {
    width: 80%;
    margin-top: 50px;
    padding-bottom: 25px;

    border-bottom: 2px solid var(--clr-light-blue);
}

.contentTop header,
.contentTop header a {
    display: flex;
    align-items: center;
}

.contentTop header h1 {
    margin-left: 10px;
}

.contentTop header .material-icons {
    font-size: 35px;
}

/* Homepage --------- */

/* Out Of Home Card */

.outOfHomeCard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    margin-top: 25px;
    padding-right: 1rem;
    padding-left: 1rem;

    border-radius: 10px;
    background: var(--clr-dark-blue);
}

.outOfHomeCard__label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outOfHomeCard__label p {
    font-family: var(--ff-primary);
    font-size: 18px;
    font-weight: 400;

    margin-left: 15px;
}

.outOfHomeCard__label p {
    font-size: 20px;
}

.outOfHomeCard__toggleBtn .material-icons {
    font-size: 55px;

    transition: 0.2s all ease;
}

.outOfHomeCard__toggleBtn .material-icons.active {
    color: var(--clr-yellow);
}

.outOfHomeCard__toggleBtn .material-icons:hover {
    cursor: pointer;
}

.outOfHomeCard:hover {
    cursor: pointer;
}

.outOfHomeCard:hover .outOfHomeCard__toggleBtn .material-icons {
    color: var(--clr-yellow);
}

/* Curtain list */

.curtainList {
    display: grid;

    width: 80%;
    margin-top: 25px;

    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
}

.curtainCard__wrapper,
.curtainList__add {
    width: 100%;

    border-radius: 10px;
}

.curtainCard__wrapper:after,
.curtainList__add:after {
    display: block;

    padding-bottom: 100%;

    content: "";
}

.curtainCard__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    transition: 0.2s all ease;

    background: var(--clr-light-blue);
    background-position: center;
    background-size: 250%;
}

.curtainCard__wrapper:hover {
    transform: scale(1.025);
}

.curtainCard {
    padding: 15px;
}

.curtainList__add {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-dark-blue);
}

.curtainList__add .material-icons {
    font-size: 60px;

    transition: 0.2s all ease;

    color: var(--clr-white);
}

.curtainList__add:hover {
    cursor: pointer;
}

.curtainList__add .material-icons:hover {
    cursor: pointer;
}

.curtainList__add:hover .material-icons {
    transform: scale(1.1);

    color: var(--clr-yellow);
}

/* Add Curtain Card */

.addCurtainCard__overlay {
    position: fixed;
    z-index: 2;
    top: -2vh;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    transition: 0.2s all;

    opacity: 0;
    background: none;
}

.addCurtainCard {
    display: flex;
    flex-direction: column;

    width: 350px;
    padding: 25px;

    border-radius: 10px;
    background: var(--clr-dark-blue);
}

.addCurtainCard__header {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 15px;
}

.addCurtainCard__title {
    font-size: 180%;
}

.addCurtainCard__close {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;

    padding: 0.2rem;

    transition: 0.4s all;
}

.addCurtainCard__close-hoverText {
    font-family: var(--ff-primary);
    font-size: 14px;

    position: absolute;
    top: 5px;
    right: 0px;

    cursor: pointer;
    transition: 0.2s all ease;
    transform: scale(0.5);

    opacity: 0;
    color: var(--clr-orange);
}

.addCurtainCard__close:hover .addCurtainCard__close-hoverText {
    right: 30px;

    transform: scale(1);

    opacity: 1;
}

.addCurtainCard__close:hover .addCurtainCard__close-icon {
    cursor: pointer;

    color: var(--clr-orange);
}

.addCurtainCard__close-hoverText:hover {
    opacity: 0;
}

.addCurtainCard__form {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 5px;
}

.addCurtainCard__nameLabel {
    margin-top: 10px;
    margin-bottom: 5px;
}

.addCurtainCard__form label {
    font-family: var(--ff-primary);
    font-size: 14px;

    color: var(--clr-white);
    border-radius: 5px;
}

.addCurtainCard__form input[type="text"],
.addCurtainCard input[type="text"] {
    font-family: var(--ff-primary);

    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px;

    border: none;
    border-radius: 5px;
    background: var(--clr-white);
}

.addCurtainCard__form-addBtn,
.addCurtainCard__cancelBtn {
    font-family: var(--ff-primary);
    font-size: 120%;
    font-weight: 600;

    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    padding-top: 0.7rem;

    transition: 0.2s all;
    text-transform: uppercase;

    color: var(--clr-dark-blue);
    border: none;
    border-radius: 8px;
    background-color: var(--clr-yellow);
}

.addCurtainCard__form-addBtn:hover,
.addCurtainCard__cancelBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.addCurtainCard__form-addBtn {
    margin-top: 15px;
    padding-bottom: 0.7rem;

    border: none;
    background: var(--clr-yellow);
}

.addCurtainCard__cancelBtn {
    cursor: pointer;

    color: var(--clr-yellow);
    border: 2px solid;
    background: none;
}

.addCurtainCard__form-locations {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 6%;
}

.addCurtainCard__form-location {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    margin-right: 10px;
    padding: 5px 0px 5px 0px;

    white-space: nowrap;

    gap: 10px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.addCurtainCard__form-location::-webkit-scrollbar {
    display: none;
}

.addCurtainCard__form-locations input[type="radio"] {
    display: none;
}

.addCurtainCard__form-location label {
    font-family: Arial;
    font-size: 80%;
    font-weight: 600;

    display: inline-block;
    flex-shrink: 0;

    width: auto;
    min-width: 34px;
    height: 34px;
    padding: 10px;

    cursor: pointer;
    transition: 0.2s all;
    text-align: center;

    color: var(--clr-dark-blue);
    border-radius: 5px;
    background-color: var(--clr-white);
}

.addCurtainCard__form-locations .add label {
    padding: 50%;
    padding-right: 75%;
    padding-left: 75%;

    transition: 0.2s all;

    color: var(--clr-yellow);
    border: 2px solid var(--clr-yellow);
    background-color: transparent;
}

.addCurtainCard__form-locations .add label:hover {
    cursor: pointer;
}

.addCurtainCard__form-locations input[type="radio"]:hover+label {
    background-color: #FFD60A;
}

.addCurtainCard__form-locations input[type="radio"]:checked+label {
    transition: 0.2s all;
    transform: scale(1.075);

    background-color: var(--clr-yellow);
}

.addCurtainCard__form-locations .add input[type="radio"]:hover+label {
    color: var(--clr-yellow);
    border: 2px solid var(--clr-yellow);
    background-color: transparent;
}

.addCurtainCard__form-locations .add input[type="radio"]:checked+label {
    transition: 0.2s all;
    transform: scale(1.1);

    color: var(--clr-yellow);
    border: 2px solid var(--clr-yellow);
    background-color: transparent;
}

.addCurtainCard__form .newLocationInput {
    display: none;
}

.addCurtainCard__pairCode input {
    margin-top: 10px;
}

.addCurtainCard__pairCode {
    margin-top: 15px;
}

.addCurtainCard__tooltip {
    position: relative;

    display: inline-block;

    margin-left: 0.25rem;
    padding: 0px 5px;

    cursor: pointer;

    border-radius: 100px;
    background-color: var(--clr-light-blue);
}

.addCurtainCard__tooltipText {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 150%;

    visibility: hidden;

    width: 160px;
    padding: 5px;

    cursor: auto;
    user-select: text;
    text-align: center;

    color: #fff;
    border-radius: 6px;
    background-color: var(--clr-light-blue);
}

.addCurtainCard__tooltipText::after {
    position: absolute;
    top: 18%;
    right: 100%;

    margin-top: -5px;

    content: "";

    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--clr-light-blue) transparent transparent;
}

.addCurtainCard__tooltip:hover .addCurtainCard__tooltipText {
    visibility: visible;
}

/* Curtain Details Pagina --------- */

/* Header */

.detailsHeader .material-icons {
    transition: 0.2s all;
}

.detailsHeader .material-icons:hover {
    cursor: pointer;
    transform: translateX(-0.15rem);

    color: var(--clr-yellow);
}

/* Open close slider */

.openCloseSlider__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 80px;
    margin-top: 25px;

    transition: 0.2s all;

    border-radius: 10px;
    background: var(--clr-dark-blue);
}

.openCloseSlider__container p {
    font-weight: 400;
}

.openCloseSlider {
    display: flex;
    align-items: center;

    width: 60%;
}

.openCloseSlider__slider {
    width: 100%;
    height: 2px;

    outline: none;
    background: none;
    background-color: white;

    -webkit-appearance: none;
}

.openCloseSlider__slider::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    transition: .2s all;

    border-radius: 100%;
    background: var(--clr-white);

    -webkit-appearance: none;
    appearance: none;
}

.openCloseSlider__slider::-webkit-slider-thumb:hover {
    width: 1.6rem;
    height: 1.6rem;
}

.openCloseSlider__slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;

    border-radius: 100%;
    background: var(--clr-white);
}

/* Timers List */

.timerList {
    /* display: grid; */

    display: flex;
    flex-direction: column;

    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;

    /* grid-template-columns: 1fr; */

    gap: 10px;
}

.timerCard__wrapper,
.timerList__addTimerBtn,
.singleTimerCard__wrapper {
    width: 100%;

    border-radius: 10px;
}

.timerCard__wrapper {
    width: 100%;
    height: 8.5rem;

    background: var(--clr-dark-blue);
}

.singleTimerCard__wrapper {
    height: auto;

    background: var(--clr-dark-blue);
}

.timerCard {
    position: relative;

    margin: 1rem;
}

.timerCard__openToClose {
    display: flex;
    justify-content: space-between;

    width: 50%;
    margin-left: 20%;

    border-radius: 100px;
    background-color: var(--clr-yellow);

    /* animation: openToClose 0.6s ease-out; */
}

.timerCard__openToClose p {
    font-size: 90%;
    line-height: 0.85rem;

    position: relative;
    top: 1.5rem;

    opacity: 1;
    color: var(--clr-yellow);

    /* animation: openToCloseP 0.65s; */
}

.timerCard__openToClose-open {
    text-align: left;
}

.timerCard__openToClose-close {
    text-align: right;
}

.timerCard__delete {
    position: absolute;
    top: -10px;
    right: -10px;

    padding: 0.2rem;

    transition: 0.4s all;
}

.timerCard__deleteHoverText {
    font-weight: 400;
    line-height: 1rem;
    line-height: 1rem;

    position: absolute;
    top: -7px;
    right: -15px;

    padding: 0.2rem;

    cursor: pointer;
    transition: 0.2s all ease;
    transform: scale(0.75);

    opacity: 0;
    color: var(--clr-orange);
    border-radius: 5px;
}

.timerCard__p:hover .timerCard__deleteHoverText {
    right: 16px;

    transform: scale(1);

    opacity: 1;
}

.timerCard__p:hover .timerCard__delete {
    cursor: pointer;

    color: var(--clr-orange);
}

.timerCard__deleteHoverText:hover {
    opacity: 0;
}

/*
.timerCard__deleteHoverText:hover {
    opacity: 1;
    cursor: pointer;
}
*/

.singleTimerCard__content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-right: 1.75rem;

    gap: 8px;
}

.singleTimerCard__title {
    display: inline;

    margin-top: 0.8rem;
}

.singleTimerCard__timeInfo {
    line-height: 3rem;

    display: block;
    align-items: center;

    width: 100%;

    text-align: center;
    text-align: right;
}

.singleTimerCard__closeOrOpen {
    font-size: 105%;

    display: inline;
}

.singleTimerCard__time {
    font-size: 140%;
    font-weight: 200;

    display: inline;
}

.timerCard__schedule {
    margin-top: 2rem;

    border-radius: 100px;
    background-color: var(--clr-light-blue);
    -webkit-box-shadow: inset 0px 0px 39px -6px rgba(0, 0, 0, 0.631);
    box-shadow: inset 0px 0px 39px -6px rgba(0, 0, 0, 0.624);
}

/*
@keyframes openToClose {
    0% {
        width: 30%;
        margin-left: 30%;
    }

    100% {
        width: 50%;
        margin-left: 20%;
    }
}

@keyframes openToCloseP {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/

.timerList__addTimerBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

    transition: 0.2s all;

    border: none;
    background: var(--clr-yellow);
}

.timerList__addTimerBtn .material-icons {
    font-size: 1.8rem;

    transition: 0.2s all ease-in-out;

    color: var(--clr-dark-blue);
}

.timerList__addTimerText {
    font-size: 1.2rem;
    font-weight: 600;

    padding-left: 10px;

    color: var(--clr-dark-blue);
}

.timerList__addTimerBtn:hover,
.timerList__addTimerBtn .material-icons:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* Add curtain timer popup */

.addNewTimer__background {
    position: fixed;
    z-index: 2;
    top: -2vh;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    height: 100vh;

    transition: 0.2s all ease-in-out;

    opacity: 0;
}

.addNewTimer__wrapper {
    position: relative;

    width: 380px;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    border-radius: 10px;
    background-color: var(--clr-dark-blue);
}

.addNewTimer__title {
    font-size: 180%;

    margin-bottom: 1.5rem;
}

.addNewTimer__form p {
    font-size: 100%;
    font-weight: 400;

    margin-bottom: 0.5rem;
}

.addNewTimer__dotw {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.addNewTimer__dotw input[type="radio"] {
    display: none;
}

.addNewTimer__dotw > label {
    font-family: Arial;
    font-size: 80%;
    font-weight: 600;

    display: inline-block;

    width: 34px;
    height: 34px;
    padding: 10px;

    cursor: pointer;
    transition: 0.2s all;
    text-align: center;

    color: var(--clr-dark-blue);
    border-radius: 100%;
    background-color: var(--clr-white);
}

.addNewTimer__dotw input[type="radio"]:hover+label {
    background-color: #FFD60A;
}

.addNewTimer__dotw input[type="radio"]:checked+label {
    transition: 0.2s all;
    transform: scale(1.15);
    animation: radioClick 0.45s ease-out;

    background-color: var(--clr-yellow);
}

@keyframes radioClick {

0% {
    transform: scale(1);
}

20% {
    transform: scale(0.8);
}

50% {
    trasnform: scale(1.25);
}

100% {
    transform: scale(1.15);
}

}

.addNewTimer__closeIcon {
    position: absolute;
    top: -10px;
    right: -10px;

    padding: 0.2rem;

    transition: 0.4s all;
}

.addNewTimer__closeHoverText {
    font-weight: 400;
    line-height: 1rem;
    line-height: 1rem;

    position: absolute;
    top: -7px;
    right: -15px;

    padding: 0.2rem;

    cursor: pointer;
    transition: 0.2s all ease;
    transform: scale(0.75);

    opacity: 0;
    color: var(--clr-orange);
    border-radius: 5px;
}

.addNewTimer__p {
    position: absolute;
    top: 20px;
    right: 20px;
}

.addNewTimer__p:hover .addNewTimer__closeHoverText {
    right: 16px;

    transform: scale(1);

    opacity: 1;
}

.addNewTimer__p:hover .addNewTimer__closeIcon {
    cursor: pointer;

    color: var(--clr-orange);
}

.addNewTimer__closeHoverText:hover {
    opacity: 0;
}

.addNewTimer__openAndCloseTimes {
    display: grid;

    margin-bottom: 2rem;

    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.addNewTimer__openAndCloseTimes input {
    padding: 0.5rem;

    border: none;
    border-radius: 5px;
    background-color: var(--clr-white);
}

.addNewTimer__openAndCloseTimes label {
    font-family: var(--ff-primary);

    display: block;

    margin-bottom: 0.5rem;

    color: var(--clr-white);
}

.addNewTimer__openTime input {
    width: 100%;
}

.addNewTimer__closeTime input {
    width: 100%;
}

.addNewTimer__addCurtainBtn {
    font-family: var(--ff-primary);
    font-size: 120%;
    font-weight: 600;

    display: inline-block;

    width: 100%;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    transition: 0.2s all;

    color: var(--clr-dark-blue);
    border: none;
    border-radius: 8px;
    background-color: var(--clr-yellow);
}

.addNewTimer__addCurtainBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.addNewTimer__cancelBtn {
    font-family: var(--ff-primary);
    font-size: 120%;
    font-weight: 600;

    display: inline-block;

    width: 100%;
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    transition: 0.2s all;

    color: var(--clr-yellow);
    border: 2px solid;
    border-color: var(--clr-yellow);
    border-radius: 8px;
    background: transparent;
}

.addNewTimer__cancelBtn:hover {
    cursor: pointer;
    transform: scale(1.02);

    background-color: #ffd60a0c;
}

/* Are you sure? */

.areYouSure__background {
    position: fixed;
    z-index: 2;
    top: -2vh;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    height: 100vh;

    transition: 0.2s all ease-in-out;

    opacity: 0;
}

.areYouSure__wrapper {
    position: relative;

    width: 380px;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    border-radius: 10px;
    background-color: var(--clr-dark-blue);
}

.areYouSure__title {
    font-size: 180%;

    margin-bottom: 1.5rem;
}

.areYouSure__text {
    font-size: 100%;
}

.areYouSure__buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;

    gap: 1rem;
}

.areYouSure__deleteBtn .material-icons {
    margin-right: 0.75rem;

    color: var(--clr-orange);
}

.areYouSure__deleteBtn {
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    width: 100%;
    height: 3rem;

    transition: 0.2s all;
    transition: 0.2s all;

    color: var(--clr-orange);
    border: none;
    border: 2px solid;
    border-radius: 10px;
    background: #221305;
}

.areYouSure__deleteBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.areYouSure__deleteBtn:hover .material-icons {
    animation: removeThisCurtainBtnAnimation 0.4s;
}

.areYouSure__cancelBtn {
    font-family: var(--ff-primary);
    font-size: 120%;
    font-weight: 600;

    width: 100%;
    height: 3rem;

    transition: 0.2s all;

    color: var(--clr-yellow);
    border: 2px solid;
    border-color: var(--clr-yellow);
    border-radius: 10px;
    background: transparent;
}

.areYouSure__cancelBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* Remove */

.removeCurtain {
    display: flex;
    justify-content: center;

    width: 80%;
    padding-top: 25px;

    border-color: var(--clr-light-blue);
    border-top: 2px solid;
}

.removeCurtainBtn {
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3.5rem;
    padding-left: 10px;

    transition: 0.2s all;

    color: var(--clr-orange);
    border: none;
    border: 2px solid;
    border-radius: 10px;
    background: #221305;
}

.removeCurtainBtn .material-icons {
    margin-right: 0.75rem;

    color: var(--clr-orange);
}

.removeCurtainBtn:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.removeCurtainBtn:hover .material-icons {
    animation: removeThisCurtainBtnAnimation 0.4s;
}

/* System Status Popup */

/* top: -2vh, display: none, opacity: 0, background: none, transition: 0.2s all */

.systemStatusPopup__container {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 100vh;

    transition: 0.6s all ease;

    opacity: 0;
    background: none;
}

.systemStatusPopup {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 380px;
    margin-bottom: 70px;
    padding: 15px 18px;

    border-radius: 10px;
    background: var(--clr-orange);
}

.systemStatusPopup p {
    font-size: 14px;

    width: 220px;
}

.systemStatusPopup__buttons {
    display: flex;
    align-items: center;

    gap: 8px;
}

.systemStatusPopup__buttons-retry {
    font-family: var(--ff-primary);
    font-weight: 600;

    padding: 12px 20px;

    transition: 0.2s all ease-in;

    color: var(--clr-white);
    border: none;
    border-radius: 5px;
    background: var(--clr-dark-blue);
}

.systemStatusPopup__buttons-retry:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.systemStatusPopup__buttons-close.material-icons {
    font-size: 26px;

    transition: 0.2s all;

    color: var(--clr-white);
}

.systemStatusPopup__buttons-close.material-icons:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* loading spinner */

.loadingSpinner__container {
    position: fixed;
    position: fixed;
    z-index: 10;
    top: -2vh;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    height: 100vh;

    transition: 0.2s all ease-in-out;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.631);
}

.loadingSpinner__dots {
    position: relative;

    display: inline-block;

    width: 80px;
    height: 80px;
}

.loadingSpinner__dots section {
    position: absolute;
    top: 33px;

    width: 13px;
    height: 13px;

    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    border-radius: 50%;
    background: #fff;
}

.loadingSpinner__dots section:nth-child(1) {
    left: 8px;

    animation: loadingWrapper__dots1 0.6s infinite;
}

.loadingSpinner__dots section:nth-child(2) {
    left: 8px;

    animation: loadingWrapper__dots2 0.6s infinite;
}

.loadingSpinner__dots section:nth-child(3) {
    left: 32px;

    animation: loadingWrapper__dots2 0.6s infinite;
}

.loadingSpinner__dots section:nth-child(4) {
    left: 56px;

    animation: loadingWrapper__dots3 0.6s infinite;
}


/* 404 page */

.notFound{
    width: 100%;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.notFound__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notFound__text-404{
    font-weight: 600;
    font-size: 8rem;
    color: var(--clr-yellow);
}
.notFound__text-oops{
    font-weight: 400;
    font-size: 20px;
}
.notFound__btn{
    transition: 0.2s all ease;
}
.notFound__btn a{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 3rem;
    background: var(--clr-yellow);
    border-radius: 10px;
    color: var(--clr-blue);
    font-size: 120%;
    font-family: var(--ff-primary);
    font-weight: 600;
}
.notFound__btn:hover{
    transform: scale(1.05);
}
.notFound__btn a .material-icons{
    color: var(--clr-blue);
}

@keyframes loadingWrapper__dots1 {

0% {
    transform: scale(0);
}

100% {
    transform: scale(1);
}

}
@keyframes loadingWrapper__dots3 {

0% {
    transform: scale(1);
}

100% {
    transform: scale(0);
}

}
@keyframes loadingWrapper__dots2 {

0% {
    transform: translate(0, 0);
}

100% {
    transform: translate(24px, 0);
}

}
@keyframes lds-ripple {

0% {
    top: 36px;
    left: 36px;

    width: 0;
    height: 0;

    opacity: 1;
}

100% {
    top: 0px;
    left: 0px;

    width: 72px;
    height: 72px;

    opacity: 0;
}

}
@keyframes loadingWrapper__dots1 {

0% {
    transform: scale(0);
}

100% {
    transform: scale(1);
}

}
@keyframes loadingWrapper__dots3 {

0% {
    transform: scale(1);
}

100% {
    transform: scale(0);
}

}
@keyframes loadingWrapper__dots2 {

0% {
    transform: translate(0, 0);
}

100% {
    transform: translate(24px, 0);
}

}

/* Keyframes --------------- */

@keyframes removeThisCurtainBtnAnimation {

0% {
    transform: scale(1) rotate( 0deg);
}

25% {
    transform: scale(1.1) rotate( 15deg);
}

50% {
    transform: scale(1.3);
}

100% {
    transform: scale(1) rotate( 0deg);
}

}

/* error styling */

.inputError {
    border: 2px solid !important;
    border-color: var(--clr-orange) !important;
}

.inputError::placeholder {
    color: var(--clr-orange);
}

.textError {
    color: var(--clr-orange) !important;
}
