:root {
    --clr-yellow: #FFD60A;
    --clr-blue: #181C2C;
    --clr-dark-blue: #0F111A;
    --clr-light-blue: #394266;
    --clr-white: #FFFCF9;
    --clr-orange: #FF620A;

    --max-width: 500px;

    --ff-primary: 'Lexend', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    font-family: var(--ff-primary);
    color: var(--clr-white);
}
    h1 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 35px;
    }
    h2 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 25px;
    }
    h3 {
        font-weight: 700;
        font-size: 18px;
    }
    p {
        font-weight: 300;
        font-size: 14px;
    }

body {
    background: var(--clr-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.material-icons {
    color: var(--clr-white);
    cursor: default;
}

.header {
    background: var(--clr-yellow);
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header > figure {
    width: 100%;
    max-width: var(--max-width);
    text-align: center;
}
.header > figure img {
    width: 25%;
}

.content {
    /* background: pink; */
    width: 100%;
    height: 93%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-top {
    width: 80%;
    margin-top: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--clr-light-blue);
}
.content-top header {
    /* background: hotpink; */
    display: flex;
    align-items: center;
}
.content-top header h1 {
    margin-left: 10px;
}
.content-top header .material-icons {
    font-size: 35px;
}

.out-of-home {
    background: var(--clr-dark-blue);
    width: 100%;
    height: 80px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35%;
}
.out-of-home-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.out-of-home-label p{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 18px; 
    margin-left: 15px;
}
.out-of-home-label p{
    font-size: 20px; 
}
.out-of-home-button .material-icons {
    font-size: 55px;
}
.out-of-home-button .material-icons:hover {
    color: var(--clr-yellow);
}

.curtain-list {
    /* background: paleturquoise; */
    width: 80%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.curtain-card, .curtain-add {
    width: 100%;
    border-radius: 10px;
}
.curtain-card:after, .curtain-add:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.curtain-card {
    background: var(--clr-light-blue);
    /* background-image: url('../img/keuken.png'); */
    background-size: 250%;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.curtain-card-text {
    padding: 15px;
}

.curtain-add {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-dark-blue);
}
.curtain-add .material-icons{
    font-size: 60px;
    color: var(--clr-white);
}

.footer-nav {
    height: 7%;
    width: 100%;
    background: var(--clr-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav nav {
    width: 100%;
    max-width: var(--max-width);
}
.footer-nav nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.footer-nav nav ul li {
    display: inline;
}
.footer-nav nav ul li .material-icons {
    font-size: 28px;
    cursor: pointer;
}
.footer-nav nav ul li .material-icons:hover {
    color: var(--clr-yellow);
}

/* Curtain Details Pagina --------- */

/* Header */

.detailsHeader .material-icons {
    transition: 0.2s all;
}

.detailsHeader .material-icons:hover {
    color: var(--clr-yellow);
    cursor: pointer;
    transform: scale(1.15);
}

/* Open close slider */

.openCloseSlider__container {
    background: var(--clr-dark-blue);
    width: 100%;
    height: 80px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.openCloseSlider {
    display: flex;
    align-items: center;
    width: 60%;
}

.openCloseSlider__slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: none;
    outline: none;
    background-color: white;
}

.openCloseSlider__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background: var(--clr-white);
    cursor: pointer;
    transition: .2s all;
}

.openCloseSlider__slider::-webkit-slider-thumb:hover {
     width: 1.6rem;
    height: 1.6rem;
}

.openCloseSlider__slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.openCloseSlider__options option {
    background-color: red;
}

/* Timers List */

.timerList {
    width: 80%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
    margin-bottom: 8px;
}

.timerCard__wrapper, .timerList__addTimerBtn {
    width: 100%;
    border-radius: 10px;
}

.timerCard__wrapper {
    background: var(--clr-dark-blue);
    height: 7rem;
}

.timerCard {
    margin: 1rem;
    position: relative;
}

.timerCard__delete {
    position: absolute;
    top: -10px;
    right: -10px;
    transition: 0.2s all;
}

.timerCard__schedule {
    margin-top: 1rem;
    border-radius: 100px;
    background-color: var(--clr-light-blue);
    -webkit-box-shadow: inset 0px 0px 39px -6px rgba(0, 0, 0, 0.631); 
    box-shadow: inset 0px 0px 39px -6px rgba(0, 0, 0, 0.624);
}

.timerCard__openToClose {
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    background-color: var(--clr-yellow);
    width: 50%;
    margin-left: 20%;
}

.timerCard__openToClose p {
    font-size: 90%;
    color: var(--clr-white);
    position: relative;
    line-height: 0.9rem;
    top: 1.5rem;
}

.timerCard__delete:hover {
    cursor: pointer;
    color: var(--clr-orange);
}

.timerList__addTimerBtn {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-yellow);
    transition: 0.2s all;
    margin-top: 1rem;
}

.timerList__addTimerBtn .material-icons{
    font-size: 1.8rem;
    color: var(--clr-dark-blue);
}

.timerList__addTimerText {
    font-size: 1.2rem;
    color: var(--clr-dark-blue);
    font-weight: 600;
    padding-left: 10px;
    
}

.timerList__addTimerBtn:hover, .timerList__addTimerBtn .material-icons:hover {
    cursor: pointer;
    transform: scale(1.01);   
}

/* Remove */

.removeCurtain {
    width: 80%;
    margin-top: 25px;
    border-top: 2px solid;
    border-color: var(--clr-light-blue);
}

.removeCurtainBtn {
    width: 100%;
    border-radius: 10px;
    height: 3.5rem;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #221305;
    transition: 0.2s all;
    margin-top: 25px;
    border: 3px solid;
    font-size: 1.2rem;
    color: var(--clr-orange);
    font-weight: 600;
    padding-left: 10px;
}

.removeCurtainBtn .material-icons {
    color: var(--clr-orange);
    margin-right: 0.75rem;
}

.removeCurtainBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}